<table>
    <tr valign="top">
        <td><img src="{{ post.author.avatar(30) }}"></td>
        <td>
            <a href="{{ url_for('user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
            says:<br><i>{{ post.body }}</i>
        </td>
    </tr>
</table>